# Database
MONGODB_URI=mongodb://localhost:27017/talentpulse

# Redis (Upstash or local Redis)
REDIS_URL=redis://localhost:6379
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Authentication
JWT_SECRET=super-secret-jwt-key-change-in-production-talentpulse-2026
NEXTAUTH_SECRET=super-secret-jwt-key-change-in-production-talentpulse-2026
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Groq AI
GROQ_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

